@media ( max-width: 991px ){
    .promo {
        h1 {font-size: 33px;}
        h2 {font-size: 21px;}
    }   
}
@media ( max-width: 767px ){
    .header {
        &__logo {width: 195px;}
        &__officilal {
            width: 146px;
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 13px;
        }
        button {
            width: 129px;
        }

    }
    .promo{
        min-height: 521px;
        padding: 16px 0 66px 0;
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 19px;
        }
        &__icons {
            margin: 47px 0 48px 0;
            width: 348px;
            img {
                width: 37px;
            }
        }
        .promo_icon {
            width: 98px;
            &_text {
                font-size: 12px;
            }
        }
        .button_promo {
            width: 231px;
            height: 36px;
            font-size: 13px;
        }
        .to_the_catalog {
            font-size: 13px;
        }
        &__wrapper {
            padding-top: 70px;
        }
        
    }
    .advantages {
        min-height: 353px;
        padding: 48px 0 56px 0;
        &__3-blocks {
            margin-top: 41px;
        }
        .title {
            font-size: 25px;
        }
        &__block {
            width: 196px;            
            img {
                width: 57px;
            }
        }
        &__blocks_title {        
            margin-top: 27px;
            font-size: 16px;
        }
        &__blocks_text {
            margin-top: 17px;
            font-size: 10px;
        }

    }
}
@media ( max-width: 575px ){
    .header {
        &__officilal {
            display: none;
        }
        &__contacts {
            .button {
                width: 102px;
                height: 22px;
                font-size: 9px;
            }
        }
    }
    .promo {
        min-height: 484px;
        &__wrapper {
            h1 {font-size: 23px;}
            h2 {font-size: 13px;}
        }
        &__icons {
            width: 250px;
            margin: 48px 0 59px 0;            
            .promo_icon {
                width: 222px;
                img {
                    width: 28px;
                }
                .promo_icon_text {
                    font-size: 10px;
                }
            }
        }
        .button_promo {
            width: 193px;
            height: 29px;
            font-size: 11px;          
        }
        .to_the_catalog {
            .to_the_catalogLink {
                font-size: 11px;
            }

        }
    }
    .advantages {
        .title {
            font-size: 22px;
        }
        &__3-blocks {            
            flex-direction: column;
            align-items:center;            
        }
        &__block {
            margin-top: 41px;
            width: 300px;
            &:first-child {
                margin-top: 0;
            }                               
        }
        &__blocks_title {
            font-size: 19px;
        }
        &__blocks_text {
            font-size: 16px;
            text-align: center;
        }
        
        img {
            width: 84px;
        } 

    }
    }
    






            






                
            



            
            

       
                              
            
        
    
            
            
        

                

