.button {
    width: 150px;
    height: 30px;
    background-color: $main-color;
    font-family: 'Museo Sans Cyrl 500';
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
