.carusel {
    .swiper { 
        &-button-prev, &-button-next {
            color: $main-color; 
            font-weight: 900;
        }
    
        &-pagination-bullet-active{
            background: $main-color;
        } 
        &-scrollbar {
            display: none;
        }
        
    } 
    .slide {
        display: grid;
        grid-template: auto / auto;
        &__img {        
            justify-self: center;
            img {
                object-fit: contain;
            }
            
        }
    }

}