.catalog {    
    padding-bottom: 103px;
    &__content {
        display: none;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &__tabs {
        margin-top: 69px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    &__tab {
        text-align: center;
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        font-family: 'Museo Sans Cyrl 500';
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        color: #6b6b6b;   
        transform: skewX(-25deg);
        margin:0 5px; 
        transition: 0.3s all;
        &_active {
            background-color: $main-color;
            color: #ffffff;  
            border:none;
        }
        &:hover {
            background-color: $main-color;
            color: #ffffff;  
            cursor: pointer;
            border:none;
        }
        div {
            transform: skewX(25deg);   
        }
    }
    &-item {        
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 27px 20px;
        overflow: hidden;
        margin-right: 13px;
        margin-top: 13px;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(-n+3) {
            margin-top: 0;
        }
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__title {
            margin-top: 20px;
            font-family: 'Museo Sans Cyrl 700';
            font-size: 16px;
            line-height: 1.2;
            color: #0d0d0d;
            text-align: center;
        }
        &__subtitle {
            margin-top: 16px;
            font-family: 'Museo Sans Cyrl 300';
            font-size: 14px;
            line-height: 1.2;
            color: #0d0d0d;
            text-align: center;
        }      
        &__wrapper {
            width: 200%;
            display: flex;
        }
        &__main {
            width: 100%;
            text-align: center;
            transform: translateX(-110%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
            }
            &__link {
                display: block;
                margin-top: 17px;
                font-family: 'Museo Sans Cyrl 500';
                font-size: 14px;
                line-height: 1.2;
                text-decoration: underline;
                color: $main-color;
                &:hover {
                    color: $main-color;
                }
            }
        }
        &__description {
            position: relative;
            width: 100%;
            transform: translateX(13%);
            transition: 0.5s all;
            padding-left: 0;
            margin: 0;
            list-style-type: none;
            padding-left: 19px;
            &__back-link {
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
                font-family: 'Museo Sans Cyrl 500';
                font-size: 14px;
                line-height: 1.2;
                text-decoration: underline;
                color: $main-color;
                &:hover {
                    color: $main-color;
                }
            }
            &_active {
                transform: translateX(-97%);
            }
            &-text {
                font-family: 'Museo Sans Cyrl 300';
                font-size: 14px;
                line-height: 1.2;
                color: #555555;
                margin-top: 9px;
                &:before {
                    position: absolute;
                    margin-top: 5px;
                    left: 0px;
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        &_animationRight {
            animation: slide-in-blurred-tr 0.4s both;
        }
        &_animationTop {
            animation: slide-in-blurred-top 0.4s both;
        }
        &_animationLeft {
            animation: slide-in-blurred-tl 0.4s both;
        }
        hr {
            margin-top: 19px;
            margin-bottom: 21px;
            height: 1px;
            background-color: #585858;
            border: none;
        }
        &__footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        &__prices {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__old-price {
            font-family: 'Museo Sans Cyrl 300';
            font-size: 14px;
            line-height: 1.2;
            color: #555555;
            text-decoration: line-through;
        }
        &__new-price {
            display: flex;                
            font-family: 'Museo Sans Cyrl 700';
            font-size: 20px;
            line-height: 1.2;
            color: #050505;
        }

    }
    &__content-mobile {
        display: none;
        &_active {
            display: none;
        }
    }
}






 
  