.page-up {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    img {
        width: 100%;        
    }
}
.UpToChoise {
    display: none;
    position: fixed;
    bottom: 5px;
    left: -15px;
    text-decoration: none;   
    p {
        font-family: 'Museo Sans Cyrl 300';
        color: $main-color;
        font-size: 16px;
        writing-mode: vertical-lr;
        text-orientation: upright;
        letter-spacing: -4px;
    }
}